# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.DS_Store

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# dependencies
frontend-service/node_modules
frontend-service/.pnp
frontend-service/.pnp.*
frontend-service/.yarn/*
frontend-service/!.yarn/patches
frontend-service/!.yarn/plugins
frontend-service/!.yarn/releases
frontend-service/!.yarn/versions

# testing
frontend-service/coverage

# next.js
frontend-service/.next/
frontend-service/out/

# production
frontend-service/build

# misc
frontend-service.DS_Store
frontend-service*.pem

# debug
frontend-service/npm-debug.log*
frontend-service/yarn-debug.log*
frontend-service/yarn-error.log*

# local env files
frontend-service/.env*.local
frontend-service/.env

# vercel
frontend-service/.vercel

# typescript
frontend-service/*.tsbuildinfo
frontend-service/next-env.d.ts